.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #425d8f;
  font-family: sans-serif;
  margin-top: 10px;
  margin-left: 10px;
}

.search {
  height: 50px;
}

.newscategory {
  padding: 10px 10px 0 0;
  color: rgb(209, 204, 204);
}

.categoryRow {
  background-color: #123552;
  color: rgb(206, 206, 206);
  font-size: 20px;
  color: #97c4e9;
}

.websiteRow {
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: #41698a;
  padding: 5px;
  background-color: rgb(209, 209, 209);
}
