.container {
  display: flex;
  justify-content: center;
  background: #425d8f;
  font-family: sans-serif;
  margin: 10px;
}

.newscategory {
  padding: 10px 10px 0 0;
  color: rgb(209, 204, 204);
  width: 50%;
}

.categoryRow {
  background-color: #123552;
  color: rgb(206, 206, 206);
  font-size: 20px;
  color: #97c4e9;
}

.websiteRow {
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: #41698a;
  padding: 5px;
  background-color: rgb(209, 209, 209);
}

.articleTable {
  padding: 25px;
  margin: 10px;
  height: 160px;
  color: rgb(42, 54, 107);
  background: rgb(219, 219, 219);
}

.articleRow {
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: #497296;
  padding: 5px;
}

.contentTable {
  padding: 45px;
  margin: 10px;
  height: 530px;
  color: rgb(42, 54, 107);
  background: rgb(219, 219, 219);
}

.contextText {
  font-size: 20px;
  font-family: sans-serif;
}
